In [1]:
# importing libraries

import pymongo
import pandas as pd
import json

In [2]:
# Creating MongoDb-Python Connection

client = pymongo.MongoClient("mongodb+srv://kamalrajit:rajith1995@cluster0.zogjdk2.mongodb.net/test")

In [3]:
df = pd.read_csv("./tweet-scrape.csv")

In [ ]:
df.head()

In [5]:
df.shape

(1002, 11)

In [6]:
# Removing unwanted columns

df = df.drop('Unnamed: 0', axis = 1)

In [ ]:
df

In [8]:
df.shape

(1002, 10)

In [9]:
# Converting Dataframe into records

data = df.to_dict(orient = "records")

In [ ]:
data

In [11]:
db = client["Tweets"]

In [12]:
print(db)

Database(MongoClient(host=['ac-lie0qzi-shard-00-00.zogjdk2.mongodb.net:27017', 'ac-lie0qzi-shard-00-01.zogjdk2.mongodb.net:27017', 'ac-lie0qzi-shard-00-02.zogjdk2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-13s1qz-shard-0', tls=True), 'Tweets')

In [13]:
# Inserting data using insert_many

db.ScrapedTweetData.insert_many(data)